<div class="push-top-xl push-bottom-xxl wrapper-short-text">
  <div class="flex-l mhn1-l center wp-960">
    <div class=" mb4 w-40-l image-wrapper">
        <iframe class="br-img h-100"  src="https://www.youtube.com/embed/yR8uJN9FOOA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="w-60-l mb2 push-left-sm text-wrapper">
        <h2 class="f0 b lh-title fp32 dark-blue mb3">{{.heading}}</h2>
        <div class="mb0 fp16 short-body" style="color: #46464b; line-height:1.5">{{ .text | safeHTML }}</div>
    </div>
  </div>
</div>
