<div class="bg-grey-1 pv4">
    <div class="ph3 mw7 center">
        <div class="flex-l mhn2-l min-h-450">
<!--            450-->
            <div class="flex-l flex-50">
                <div class="flex-l flex-50">
                    <img alt="" class="radius-0" src="img/text-and-image/photo1.jpg">
                </div>
                <div class="flex-l flex-column-l flex-50">
                    <div class="flex-l flex-50">
                        <img alt="" src="img/text-and-image/photo2.jpg">
                    </div>
                    <div class="flex-l flex-50 bg-blue-table justify-center">
                        <h2 class="table-text orange fp24 pa3">"The ExO Workshop is very practical and full of feedback"</h2>
                    </div>
                </div>
            </div>

            <div class="flex-l flex-50">
                <div class="flex-l flex-column-l">
                    <div class="flex-l flex-50 bg-dark-blue justify-center">
                        <h2 class="table-text blue-table fp24 pa3">"The content is ready to be put into practice and the clarity and quality of the speakers was fantastic"</h2>
                    </div>
                    <div class="flex-l flex-50">
                        <div class="flex-l">
                            <img alt="" class="radius-0" src="img/text-and-image/photo3.jpg">
                        </div>
                        <div class="flex-l">
                            <img alt="" class="radius-0" src="img/text-and-image/photo4.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
