<div class="bg-grey-1 pv4">
    <div class="ph3 mw7 center">
        <div class="flex-l mhn2-l min-h-350">
            <div class="flex-l">
                <div class="flex-l">
                    <img alt="" src="img/home-about-section.jpg">
                </div>
                <div class="flex-l flex-column-l">
                    <div class="flex-l flex-50">
                        <img alt="" src="img/home-about-section.jpg">
                    </div>
                    <div class="flex-l flex-50 bg-blue-table justify-center">
                        <h2 class="table-text fp32 orange">sdfhkdjsfh</h2>
                    </div>
                </div>
            </div>

            <div class="flex-l">
                <div class="flex-l flex-column-l">
                    <div class="flex-l flex-50 bg-dark-blue justify-center">
                        <h2 class="fp32 table-text blue-table">kldsjflkd</h2>
                    </div>
                    <div class="flex-l flex-50">
                        <div class="flex-l">
                            <img alt="" src="img/home-about-section.jpg">
                        </div>
                        <div class="flex-l">
                            <img alt="" src="img/home-about-section.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
